::selection { background-color: #009688; color: white; }

.font-sm{
    font-size: 11px;
}

.width-lg{
    width: 100%;
}

legend.legend_destaque{
    border-bottom: 1px solid #ddd;
    margin-bottom: 25px;
}

.box_files {
    background-color: #fff;
    font-size: 12px;
}

.row_file {
    padding: 5px;
    border-top: 1px solid hsla(210, 18%, 87%, 1);
}

.btn.btn-success{
    background-color: #009688 ;
}

body{
    background-color: #eee;
}

section.container{
    background-color: #fff;
    padding:10px;
    min-height: 600px;
}


/*
Inicio Formatação barra de Menu
*/
.navbar.navbar_wx{
      background-color: #009688;
}

.navbar_wx .navbar-nav .nav-link {
    color: #fff;
 }

.navbar_wx .navbar-nav .nav-link.active, .navbar_wx .navbar-nav .nav-link:hover{
    background-color: #007d71;
 }

@media (min-width: 768px) { 
    .navbar.navbar_wx{
        padding-bottom: 0;
        padding-top:0;
        
    }
    .navbar_wx .navbar-nav .nav-link{
        padding:14px;
     }
     .navbar_wx  .navbar-brand {
         padding:10px;
     }

 }
 /*
Fim Formatação barra de Menu
*/